 #nhr{
    text-align: center;
    color: blue;
    font-family: cursive;
    border-style: dotted;
 }
 .nitin{
    text-align: center;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 